
.main-layout {
	display: flex;
	z-index: 1;
	overflow: hidden;
	position: relative;
	flex-grow: 1;
	height: 100vh;
}

.content-container {
	flex-grow: 1;
	padding: 0;
	overflow-y: scroll;
	margin-top: calc(var(--dp-factor) * 8);
}

/* VARIABLES */

:root {
	--oswald-fontFamily: 'Oswald',sans-serif;
	--arial-fontFamily: 'Arial';
	--materal-ui-fontFamily: "Roboto", "Helvetica", "Arial", sans-serif;
	--alternate-gothic-three-fontFamily: "alternate_gothic_fs_no_3Rg";
	--alternate-gothic-two-fontFamily: "alternate_gothic_fs_no_2Rg";

	--color-midnight: #EEBF2B;
	--ninjaGreen: #66cc33;
	--greenApple: #4CBA41;
	--harlequinGreen: #3c0;
	--atlantis-light: #71e03a;
	--limeade: #52b901;
	--alto: #dadada;
	--delta: #a7a8a6;
	--white: #fff;
	--black: #000;
	--silver: #ccc;
	--mineShaft: #363636;
	--bud: #acadab;
	--silverChalice: #a3a3a3;
	--silverDarkChalice: #9f9f9f;
	--silverDarkestChalice: #a9a9a9;
	--gray: #878181;
	--iron: #dddee0;
	--boulder: #7D7D7D;
	--gray: #888;
	--openGray: #808080;
	--doveGray: #676767;
	--silverCloudy: #bababa;
	--steelGray: #c0c0c0;
	--boulder: #7c7c7c;
	--dp-factor: 8px;
	--dp-factor-vh: 8vh;
	--dp-factor-vw: 8vw;
	--dp-factor-rem: 0.5rem;

	/* Carousel configuration parameters*/

	/* Derived variables */
}