
.technology-listing {
	padding: calc(8px * 3);
}

.inno-world-video-link:hover {
	background-position: 0 0;
}

.inno-world-video-link:hover span {
	color: var(--harlequinGreen);
}

/* events */
.event-type-listing li {
	list-style: none;
	line-height: calc(var(--dp-factor) * 4);
}

.event-type-listing li:last-child.country-dropdown-events {
	padding-left: calc(var(--dp-factor) * 15);
}

.event-type.all-events {
	font-size: calc(var(--dp-factor) * 2);
}

.event-type.active {
	color: var(--mineShaft);
}

.select-menu-item  > div > div {
	padding-left: calc(var(--dp-factor) * 2);
}

@media only screen and (max-width: 74em) {

	.event-type-listing  li:last-child.country-dropdown-events {
			
		padding-left:calc(var(--dp-factor) * 1);
	}
}

@media only screen and (min-width: 75em) {

	.global-event-container {
		margin: 0 !important;
	}

	.regional-event-container {
		margin: 0 !important;
	}
}

@media only screen and (min-width: 62em) {

	.global-event-container {
		margin: 0 !important;
	}

	.regional-event-container {
		margin: 0 !important;
	}
}