header.app-bar {
	z-index: 1201 !important;
	transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

header.app-bar-shift {
	transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

button.app-menu-icon {
	margin-left: calc(var(--dp-factor));
	margin-right: calc(var(--dp-factor) * 4);
}

button.app-menu-icon.hide {
	display: none;
}

.app-menu-toolbar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 calc(var(--dp-factor));
	min-height: 64px;
}

div.drawer-paper {
	position: relative;
	white-space: nowrap;
	width: calc(var(--dp-factor) * 25);
	transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
	height: 100vh;
}

div.drawer-paper-close {
	overflow-x: hidden;
	transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
	width: calc(var(--dp-factor) * 9);
	height: 100vh;
}

a.drawer-menu-list-item:hover {
	text-decoration: none;
}

a.drawer-menu-list-item .drawer-icon {
	border-radius: 0;
}

.header-home-link {
	color: var(--white);
	text-decoration: none;
}