.modal-container {
	text-align: center;
	background: rgba(0,0,0,.45);
	color: var(--silverCloudy);
	font-size: calc(var(--dp-factor-rem) * 2);
	line-height: 1.2;
	font-weight: bold;
	margin: 2px 0 0;
}

.modal-container div[role='dialog'] {
	background: rgba(0,0,0,.45);
}

.modal-container .content-header-title {
	font-family: var(--alternate-gothic-three-fontFamily);
	font-size: calc(var(--dp-factor-rem) * 3);
	color: var(--doveGray);
	text-align: center;
	text-transform: uppercase;
}

.modal-container .content-header-description {
	font-family: var(--alternate-gothic-three-fontFamily);
	font-size: calc(var(--dp-factor-rem) * 2);
	color: var(--doveGray);
	text-align: center;
}

.modal-container h1 {
	color: var(--doveGray);
	font-size: calc(var(--dp-factor-rem) * 3);
	font-family: var(--alternate-gothic-three-fontFamily);
	margin-bottom: calc(var(--dp-factor) * 2.5);
}

.modal-container .modal-btn-container {
	margin-top: calc(var(--dp-factor) * 1);
}

.modal-container .select-btn {
	color: var(--white);
	padding: calc(var(--dp-factor) * 1) calc(var(--dp-factor) * 2.5);
	font-size: calc(var(--dp-factor) * 2.5);
}

.modal-container .cancel-btn {
	color: var(--white);
	padding: calc(var(--dp-factor) * 1) calc(var(--dp-factor) * 2.5);
	font-size: calc(var(--dp-factor) * 2.5);
}

.modal-title {
	text-align: right;
}

.modal-close-button {
	fill: var(--white) !important;
	cursor: pointer;
}