.distributors-container {
	opacity: 1;
}

.distributors-listing {
	box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.25);
	background: rgb(255,255,255);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(254,254,254,1) 4%,rgba(249,251,250,1) 7%,rgba(250,250,252,1) 8%,rgba(248,250,249,1) 8%,rgba(248,249,251,1) 9%,rgba(247,249,248,1) 9%,rgba(247,248,250,1) 10%,rgba(246,248,247,1) 10%,rgba(246,247,249,1) 12%,rgba(244,245,247,1) 12%,rgba(243,244,246,1) 16%,rgba(240,244,245,1) 17%,rgba(243,244,246,1) 32%,rgba(249,251,250,1) 53%,rgba(250,250,250,1) 80%,rgba(254,254,254,1) 100%);
	padding-top: calc(var(--dp-factor) * 3);;
}

.distributors-listing-container {
	max-width: 100%;
}
