.distributors-container {
  opacity: 1;
}

.distributors-listing {
  -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.25);
          box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.25);
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(4%, #fefefe), color-stop(7%, #f9fbfa), color-stop(8%, #fafafc), color-stop(8%, #f8faf9), color-stop(9%, #f8f9fb), color-stop(9%, #f7f9f8), color-stop(10%, #f7f8fa), color-stop(10%, #f6f8f7), color-stop(12%, #f6f7f9), color-stop(12%, #f4f5f7), color-stop(16%, #f3f4f6), color-stop(17%, #f0f4f5), color-stop(32%, #f3f4f6), color-stop(53%, #f9fbfa), color-stop(80%, #fafafa), to(#fefefe));
  background: linear-gradient(to bottom, white 0%, #fefefe 4%, #f9fbfa 7%, #fafafc 8%, #f8faf9 8%, #f8f9fb 9%, #f7f9f8 9%, #f7f8fa 10%, #f6f8f7 10%, #f6f7f9 12%, #f4f5f7 12%, #f3f4f6 16%, #f0f4f5 17%, #f3f4f6 32%, #f9fbfa 53%, #fafafa 80%, #fefefe 100%);
  padding-top: calc(var(--dp-factor) * 3);
}

.distributors-listing-container {
  max-width: 100%;
}
/*# sourceMappingURL=distributor.landing.module.css.map */