.event-listing-container {
	display: flex;
	list-style: none;
	-webkit-flex-flow: row wrap;
	color: #363636;
	font-family: Arial;
	padding: calc(var(--dp-factor) * 3) 0 calc(var(--dp-factor) * 12) calc(var(--dp-factor) * 3);
	max-width: 100%;
}

.event-listing {
	margin-bottom: calc(var(--dp-factor) * 3);
}

.event-card {
	min-height: calc(var(--dp-factor-rem) * 56);
}

.event-image {
	height: calc(var(--dp-factor) * 30);
}

.event-title {
	color: var(--ninjaGreen);
	text-transform: uppercase;
	line-height: 1.2em;
	font-family: var(--oswald-fontFamily);
	font-size: 1.1em !important;
	letter-spacing: 0.8px !important;
}

.event-description {
	color: var(--mineShaft);
	line-height: 1.2em;
	font-family: var(--arial-fontFamily);
	margin-top: 6px;
	font-size: 0.85em;
	min-height: calc(var(--dp-factor) * 8);
}

/* EVENT COMPONENT MINI HEADER */
.event-sub-nav {
	margin: 0;
}

.event-type-listing {
	display: flex;
}

.event-type {
	text-decoration: none;
	font-family: var(--oswald-fontFamily);
	font-weight: bold;
	color: var(--bud);
	margin: calc(var(--dp-factor) * 4) 0 0 calc(var(--dp-factor) * 3);
	font-size: calc(var(--dp-factor) * 1.5);
	text-decoration: none;
	letter-spacing: .8px;
}
