
.event-landing-container {
	width: 100%;
}

.event-header {
	padding: calc(var(--dp-factor) * 2) 0;
	border-bottom: solid 1px #e5e5e5;
	margin: 0 auto;
}

.content-header-text {
	color: var(--ninjaGreen);
	text-transform: uppercase;
	font-size: calc(var(--dp-factor-rem) * 3);
	font-family: var(--oswald-fontFamily);
	letter-spacing: .8px;
}

.event-container-img {
	max-width: calc(var(--dp-factor-vw) * 11);
	height: auto;
	display: block;
}

.event-landing-body {
	margin: 0px auto;
	color: #363636;
	font-family: var(--arial-fontFamily);
	padding: calc(var(--dp-factor) * 3) 0;
}