
.legend {
	color: var(--white);
}

.legend-heading-two {
	display: inline-block;
	text-transform: uppercase;
	font-size: calc(var(--dp-factor-rem) * 3);
	margin: 0;
}

.legend-heading-three {
	display: inline-block;
	font-weight: 700;
	font-size: calc(var(--dp-factor-rem) * 2);
	margin: calc(var(--dp-factor-rem));
	vertical-align: top;
}

.legend-anchor {
	font-family: var(--oswald-fontFamily);
	font-size: calc(var(--dp-factor-rem) * 1.5);
	color: var(--delta);	
}