.innovations {
	min-height: calc(100vh - 64px);
	max-width: 100%;
	background: url(/images/innovations_bkgd.jpg);
}

.innovations-row {
	max-width: 100%;
}

.innovations-item {
	background: transparent !important;
}

.technology-information {
	min-height: 18rem;
}

.inno-technology-listing {
	padding: calc(var(--dp-factor) * 3);
	min-height: calc(var(--dp-factor-vh) * 10.5);
}

.technology-info-header {

	color: var(--gray);
	font-size: calc(var(--dp-factor) * 2);
	font-family: var(--oswald-fontFamily);
	margin: 0;
	font-weight: lighter;
	text-transform: uppercase;
}

.inno-heading {
	color: var(--white);
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px solid var(--mineShaft);
	font-size: calc(var(--dp-factor) * 3.5);
	font-family: var(--oswald-fontFamily);
	letter-spacing: 0.8px;
	text-rendering: optimizeLegibility;
}

.inno-copy {
	color: var(--silverChalice);;
	font-family: var(--arial-fontFamily);
	padding-top: calc(var(--dp-factor) * 2);
	font-size: calc(var(--dp-factor) * 2) - calc(var(--dp-factor) / 2 );
	line-height: calc(var(--dp-factor) * 3);
}

.inno-video-link {
	font-family: var(--oswald-fontFamily);
	color: var(--silverChalice);
	cursor: pointer;
	font-size: calc(var(--dp-factor) * 2) - calc(var(--dp-factor) / 4);
	position: relative;
	background: transparent url(/images/KHI_CTA.png) no-repeat top left;
	background-position: 0 -71px;
	height: 60px;
	width: 422px;
}

.inno-video-link-span {
	position: absolute;
	top: 15px;
	left: 110px;
}

.inno-carousel-container {
	display: flex;
	align-items: center;
}

.innovation-heavy-industries {
	background-color: var(--silverDarkChalice) !important;
	color: var(--white) !important;
}

@media only screen and (max-width: 47em) {

	.inno-video-link {
		width: 100%;
	}

	.inno-video-link-span {
		top: 0;
	}

	.inno-carousel-span {
		top: calc(var(--dp-factor) * 44);
	}
}

@media only screen and (min-width: 48em) and (max-width: 61em) {

}

@media only screen and (min-width: 62em) and (max-width: 74em) {

	.technology-info-header {
		font-size: calc(var(--dp-factor) * 1.5);
	}

	.inno-heading {
		font-size: calc(var(--dp-factor) * 2.5);
	}

	.inno-copy {
		font-size: calc(var(--dp-factor) * 2) - calc(var(--dp-factor) / 1.8);
	}

	.inno-video-link {
		font-size: calc(var(--dp-factor) * 2) - calc(var(--dp-factor) / 2);
		width: 100%;
		padding-right: calc(var(--dp-factor) * 3);
	}
}