.carousel .thumb img {
	width: 100% !important;
	height: 100% !important;
}

.carousel .slide img {
	min-height: calc(var(--dp-factor-vh) * 11);
	width: auto;
}

.carousel .control-dots .dot {
	background: var(--ninjaGreen) !important;
}

.legend a:hover {
	color: var(--white);
}