.technology-container {
	background: #dee0df;
	background: -moz-linear-gradient(top,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#dee0df),color-stop(0%,#e4e6e5),color-stop(0%,#e8e8e8),color-stop(20%,#e9e9e9),color-stop(27%,#fafafa),color-stop(29%,#fff),color-stop(100%,#fff));
	background: -webkit-linear-gradient(top,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	background: -o-linear-gradient(top,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	background: -ms-linear-gradient(top,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	background: linear-gradient(to bottom,#dee0df 0%,#e4e6e5 0%,#e8e8e8 0%,#e9e9e9 20%,#fafafa 27%,#fff 29%,#fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dee0df',endColorstr='#ffffff',GradientType=0);
}

.tech-listing-header {
	max-width: 100%;
}


.tech-mgmt-container {
	margin: calc(var(--dp-factor) * 2) 0 0 calc(var(--dp-factor) * 5);
}

.tech-mgmt-tech {
	color: var(--ninjaGreen);
	font-family: var(--oswald-fontFamily);
	font-size: calc(var(--dp-factor) * 3);
	letter-spacing: 0.8px;
	line-height: calc(var(--dp-factor) * 4);
	text-align: left;
}

.tech-mgmt-txt {
	color: var(--mineShaft);
	font-family: var(--arial-fontFamily);
	font-size: calc(var(--dp-factor) * 2) - calc(var(--dp-factor) / 4);
	letter-spacing: 0.8px;
	line-height: calc(var(--dp-factor) * 2) + calc(var(--dp-factor) / 4);
	text-align: left;
}

.technology-listing-container {
	display: flex;
	padding: 0;
	list-style: none;
	-webkit-flex-flow: row wrap;
	color: var(--mineShaft);
	font-family: var(--arial-fontFamily);
	padding: calc(var(--dp-factor) * 3) 0 calc(var(--dp-factor) * 5) calc(var(--dp-factor) * 5);
	max-width: 100%;
}

.technology-listing {
	padding: calc(var(--dp-factor) * 3);
}

.technology-header-span {
	font-family: var(--oswald-fontFamily);
	color: var(--harlequinGreen);
	font-size: calc(var(--dp-factor) * 1.8);
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: calc(var(--dp-factor) * 3);
	min-height: calc(var(--dp-factor) * 6);
	vertical-align: middle;
	display: table-cell;
}

.technology-header-img {
	width: 71px;
	height: 70px;
	object-fit: none;
	object-position: -128px 0;
}


.technology-item {
	background: linear-gradient(to top,#dee0df 0%,#e4e6e5 18%,#f7f7f7 49%,#f9f9f9 57%,#fefefe 66%,#fff 100%) repeat scroll 0 0 rgba(0,0,0,0);
	text-align: left;
}

.technology-item-description {
	margin-top: calc(var(--dp-factor) * 1);
	font-size: calc(var(--dp-factor) * 2);
	font-family: var(--arial-fontFamily);
	letter-spacing: 0;
}
