.technology-landing {
	width: 100%;
	height: 91%;
}

.technology-landing-image {
	text-align: center;
	width: 100%;
}

.technology-container-header {
	max-width: 100%;
}

.tech-header-txt {
	font-family: var(--oswald-fontFamily);
	font-size: calc(var(--dp-factor) * 3);
	color: var(--silverChalice);
	font-weight: 500;
	padding: 0 calc(var(--dp-factor) * 4);
}

.technology-body {
	margin: calc(var(--dp-factor) * 4) 0;
}

.technology-card {
	min-height: calc(var(--dp-factor) * 32.5);
}

.technology-card-header {
	color: var(--ninjaGreen);
	font-weight: normal;
	text-rendering: optimizeLegibility;
	font-family: var(--oswald-fontFamily);
}

.technology-card-description {
	color: var(--silverChalice);
	font-weight: normal;
	text-rendering: optimizeLegibility;
	font-size: calc(var(--dp-factor) * 2);
	font-family: var(--arial-fontFamily);
	min-height: calc(var(--dp-factor) * 12);
}